<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>63896636158-66siq6850c5gtallkq0ibl3j5lp38304.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63896636158-66siq6850c5gtallkq0ibl3j5lp38304</string>
	<key>API_KEY</key>
	<string>AIzaSyAZmPqeGyORC4TrtheDGKODFpgYmSYgrT0</string>
	<key>GCM_SENDER_ID</key>
	<string>63896636158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>luelProd.ladeBilen</string>
	<key>PROJECT_ID</key>
	<string>ladeappen</string>
	<key>STORAGE_BUCKET</key>
	<string>ladeappen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:63896636158:ios:776cd302d008321d</string>
	<key>DATABASE_URL</key>
	<string>https://ladeappen.firebaseio.com</string>
</dict>
</plist>